.custom-header {
  padding: 10px 15px;
  background: none !important;
}

.search-bar {
  max-width: 300px;
}

.search-toggle-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.icon-btn {
  padding: 5px 10px;
  border-radius: 50%;
}

.icon-btn .fa-bell,
.icon-btn .fa-user {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .custom-header {
    flex-wrap: wrap;
  }

  .search-bar {
    flex: 1;
    margin-bottom: 10px;
  }

  .icon-btn {
    margin-bottom: 10px;
  }

  .btn {
    margin-bottom: 10px;
  }
}
button.btn.btn-warning {
  box-shadow: 0 2px 8px 0 rgba(123, 157, 251, 0.19), 0 3px 10px 0 rgba(123, 157, 251, 0.19);
  background-color: #f68c1e;
  color: #fff;
}
button.me-2.btn.btn-primary {
  box-shadow: 0 2px 8px 0 rgba(123, 157, 251, 0.19), 0 3px 10px 0 rgba(123, 157, 251, 0.19);
}
button.icon-btn.me-3.btn.btn-outline-success{
  border: none;
  color: #283890;
}
button.icon-btn.me-3.btn.btn-outline-success:hover{
  background: none;
  box-shadow: none;
}
button.icon-btn.me-3.btn.btn-outline-primary{
  border: none;
  color: #283890;
}
button.icon-btn.me-3.btn.btn-outline-primary:hover{
  background: none;
  box-shadow: none;
}
svg.svg-inline--fa.fa-magnifying-glass{
  color: #283890;
}
svg.svg-inline--fa.fa-magnifying-glass:hover{
  color: #fff;
}
.search-bar::placeholder{
  color: #283890 !important;
}
button.search-toggle-btn.me-3.btn.btn-outline-secondary:hover{
  background-color: #283890;
}
button.search-toggle-btn.me-3.btn.btn-outline-secondary:active{
  background-color: #283890;
}
