
.collections-container {
    display: flex;
    background-color: white;
    color: black;
  }
  
  .left-side {
    flex: 1;
    margin-right: 20px;
  }
  
  .collections-label {
    font-size: 24px;
    margin-bottom: 10px;
  }
  

  .collections-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .collections-table th,
  .collections-table td {
    padding: 10px;
    text-align: left;
  }
  .create-collection-row {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
  }
  
  .collections-label {
    font-size: 24px;
    margin: 0; 
  }
  
  .create-collection-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    display: block;
  }
  
  .collections-table td {
    border-top: 1px solid #ddd;
  }
  
  .collection-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .right-side {
    flex: 0 0 250px;
    display: flex;
    flex-direction: column;
  }
  
  .create-collection-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .create-collection-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    display: block;
  }
  
  .create-collection-link:hover {
    background-color: #f1f1f1;
  }
  
  .search-sort-group {
    display: flex;
  }
  
  .search-bar {
    flex: 1;
    margin-right: 10px;
  }
  
  .sort-button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px;
  }
  
  .sort-button:hover {
    background-color: #f1f1f1;
  }
  .table-content-collection{
    border:1px solid #dddd;
    border-radius: 18px;
  }
.right-side-search {
   
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid #dddd;  
    padding:10px;
  }
  
  .left-side-all p {
    margin: 0; 
    font-size: 12px;    
  }
  .search-sort-group {
    display: flex;
    align-items: center; 
  }
  
  .search-bar {
    flex: 1;
    margin-right: 10px; 
  }
  
  .sort-button {
    background-color: white;
    border: 1px solid #dddd;
    color: black;
    padding: 10px;
  }
  
  .sort-button:hover {
    background-color: #f1f1f1;
  }
  .table-collection{
    padding:10px;
    background-color: #f1f1f1;

  }
  