.help-support-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;

}

.collections-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.create-collection-link {
  text-decoration: none;
  font-size: 1rem;
}

.search-bar-wrapper {
  margin-bottom: 15px;
}

.search-bar {
  border-radius: 5px;
}

.sort-button {
  margin-left: 10px;
  border-radius: 5px;
}

.collections-table {
  margin-top: 20px;
}

.table-primary th {
  background-color: #007bff;
  color: white;
  text-align: center;
}

.collection-image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .create-collection-link {
    font-size: 0.9rem;
  }

  .collections-label {
    font-size: 1.2rem;
  }

  .collection-image {
    width: 50px;
    height: 50px;
  }
}
a.btn.btn-outline-primary.create-collection-link{
  border-color: #283890;
  color: #283890;
  &:hover{
    background-color: #fff;
    border-color: #283890;
  
  }
}
