.inventory-container {
    width: 100%;
    margin: 0 auto;
  }
  .heading {
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .heading p{
    font-weight:350;
  }
  .header {
    background-color: transparent;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
  }
  
  .search-bar {
    align-items: right;
    max-width: 300px;

  }
 
  /* Table style */
  .inventory-table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  .inventory-table th,
  .inventory-table td {
    text-align: center;
    padding: 12px;
    font-size: 12px;
    border: none; 
  }
  
  .inventory-table tbody tr:hover {
    background-color: transparent; 
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .text-center {
    text-align: center;
  }
  