.product-management {
  height: 400px;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  border:1px solid rgb(204, 204, 204);
  border-radius: 20px;
}
.product-management-header {
  display: flex;                  
  justify-content: space-between; 
  align-items: center;           
  padding-bottom: 15px;                
  width: 100%;                  
}
.product-management-header p{
  padding:0;
  margin:0;         
}
.button-group {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  font-size: 12px;
  
}

.button-group .import {
  padding: 8px; 
  border: none; 
  font-weight: 600;
  border-radius:10px;
  background-color: #f8f8f8; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: pointer; 
  transition: box-shadow 0.3s ease; 
}

.button-group .import:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
}

.heading {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.subheading {
  color: #6c757d;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.add-product {
  font-weight: bold;
}

.add-product:hover {
  background-color: #f8f9fa;
}

.import-product:hover {
  background-color: #f8f9fa;
}


.banner {
  height: 350px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../image/banner.png);
  background-blend-mode: darken;
  box-shadow: 0 2px 8px 0 rgba(123, 157, 251, 0.19), 0 3px 10px 0 rgba(123, 157, 251, 0.19);
  border-radius: 20px;

}
.banner h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}
button.btn.btn-outline-primary{
  border-color: #F78D1F;
  color: #F78D1F;
}
button.btn.btn-outline-primary:hover{
  border-color: #F78D1F;
  background-color: #F78D1F;
  color: #fff;
}
svg.svg-inline--fa.fa-plus.me-2 {
  font-weight: 900 !important;
} 
.content-wrapper.p-4{
  padding: 0px 30px !important;
}